---
title: Talks
css: talks
---

{% comment %}
= = = = = = = = = = = = = = = = = = = = = = = = = =
Please check page contents in the _includes folder.
= = = = = = = = = = = = = = = = = = = = = = = = = =
{% endcomment %}

<div class="talks">
    <div class="container">
        <div class="section-title">Talks</div>
        <div>
            {% assign talks = site.data.talks.list | sort: 'speaker_id' %}
            {% for talk in talks %}
                {% include talks/talk.html talk=talk %}
            {% endfor %}
        </div>
    </div>
</div>

{% include sponsors.html %}