{% comment %}
<div class="speakers">
  <div class="container">
    <div class="section-title">On stage</div>
    <div class="speakers__list">
    <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/yoshuawuyts" title="Yoshua Wuyts">
          <div class="speaker__picture" style="background-image: url('images/speakers/yoshua_wuyts.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Yoshua Wuyts</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/M_a_s_s_i" title="Massimiliano Mantione">
          <div class="speaker__picture" style="background-image: url('images/speakers/massimiliano_mantione.png')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Massimiliano Mantione</div>
            <div class="speaker__company">Hyperfair</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/dustinwhittle" title="Dustin Whittle">
          <div class="speaker__picture" style="background-image: url('images/speakers/dustin_whittle.png')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Dustin Whittle</div>
            <div class="speaker__company">Uber</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/hotifatos" title="Fatos Hoti">
          <div class="speaker__picture" style="background-image: url('images/speakers/fatos_hoti.png')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Fatos Hoti</div>
            <div class="speaker__company">Klara</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/_paulverbeek" title="Paul Verbeek-Mast">
          <div class="speaker__picture" style="background-image: url('images/speakers/paul_verbeek.png')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Paul Verbeek-Mast</div>
            <div class="speaker__company">Booking.com</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/balsamiqMarco" title="Marco Botton">
          <div class="speaker__picture" style="background-image: url('images/speakers/marco_botton.jpeg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Marco Botton</div>
            <div class="speaker__company">Balsamiq</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/sm15455" title="Stefano Mostarda">
          <div class="speaker__picture" style="background-image: url('images/speakers/stefano_mostarda.png')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Stefano Mostarda</div>
            <div class="speaker__company">Microsoft</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/tessamero" title="Tessa Mero">
          <div class="speaker__picture" style="background-image: url('images/speakers/tessa_mero.jpeg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Tessa Mero</div>
            <div class="speaker__company">Cisco</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/michelebertoli" title="Michele Bertoli">
          <div class="speaker__picture" style="background-image: url('images/speakers/michele_bertoli.jpeg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Michele Bertoli</div>
            <div class="speaker__company">Facebook</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/loige" title="Luciano Mammino">
          <div class="speaker__picture" style="background-image: url('images/speakers/luciano_mammino.jpeg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Luciano Mammino</div>
            <div class="speaker__company">Planet9 Energy</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/philnash" title="Phil Nash">
          <div class="speaker__picture" style="background-image: url('images/speakers/phil_nash.jpeg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Phil Nash</div>
            <div class="speaker__company">Twilio</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/_odino_" title="Alessandro Nadalin">
          <div class="speaker__picture" style="background-image: url('images/speakers/alessandro_nadalin.jpeg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Alessandro Nadalin</div>
            <div class="speaker__company">Namshi</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/NikhilVerma" title="Nikhil Verma">
          <div class="speaker__picture" style="background-image: url('images/speakers/nikhil_verma.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Nikhil Verma</div>
            <div class="speaker__company">Badoo</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/jjordan_dev" title="Jessica Jordan">
          <div class="speaker__picture" style="background-image: url('images/speakers/jessica.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Jessica Jordan</div>
            <div class="speaker__company">Freelance</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/cef62" title="Matteo Ronchi">
          <div class="speaker__picture" style="background-image: url('images/speakers/ronchi.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Matteo Ronchi</div>
            <div class="speaker__company">WorkWave</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/addaleax" title="Anna Henningsen">
          <div class="speaker__picture" style="background-image: url('images/speakers/anna.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Anna Henningsen</div>
            <div class="speaker__company">Node.js contributor</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/_lrlna" title="Irina Shestak">
          <div class="speaker__picture" style="background-image: url('images/speakers/irina.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Irina Shestak</div>
            <div class="speaker__company">Small Media</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/matteocollina" title="Matteo Collina">
          <div class="speaker__picture" style="background-image: url('images/speakers/matteo.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Matteo Collina</div>
            <div class="speaker__company">nearForm</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/mybluewristband" title="Jennifer Wong">
          <div class="speaker__picture" style="background-image: url('images/speakers/jenn.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Jennifer Wong</div>
            <div class="speaker__company">Eventbrite</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/blakenewman" title="Blake Newman">
          <div class="speaker__picture" style="background-image: url('images/speakers/blake.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Blake Newman</div>
            <div class="speaker__company">Sainsbury's</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/patrick_h_lauke" title="Patrick Lauke">
          <div class="speaker__picture" style="background-image: url('images/speakers/patrick.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Patrick Lauke</div>
            <div class="speaker__company">The Paciello Group</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/sandropaganotti" title="Sandro Paganotti">
          <div class="speaker__picture" style="background-image: url('images/speakers/sandro.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Sandro Paganotti</div>
            <div class="speaker__company">Facebook</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/jjperezaguinaga" title="Jose Aguinaga">
          <div class="speaker__picture" style="background-image: url('images/speakers/jose.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Jose Aguinaga</div>
            <div class="speaker__company">Flynt</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/koste4" title="Claudia Hernández">
          <div class="speaker__picture" style="background-image: url('images/speakers/claudia.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Claudia Hernández</div>
            <div class="speaker__company">Dailymotion</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/granze" title="Maurizio Mangione">
          <div class="speaker__picture" style="background-image: url('images/speakers/maurizio.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Maurizio Mangione</div>
            <div class="speaker__company">Accenture</div>
          </div>
        </a>
      </div>
      <div class="speaker">
        <a class="speaker__card" href="https://twitter.com/Lady_Ada_King" title="Ada Rose">
          <div class="speaker__picture" style="background-image: url('images/speakers/ada.jpg')"></div>
          <div class="speaker__info">
            <div class="speaker__name">Ada Rose</div>
            <div class="speaker__company">Samsung</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

  <!--div class="speakers">
    <div class="container">
      <div class="section-title">On stage</div>
      <div class="speakers__list">
      <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/yoshuawuyts" title="Yoshua Wuyts">
            <div class="speaker__picture" style="background-image: url('images/speakers/yoshua_wuyts.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Yoshua Wuyts</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/M_a_s_s_i" title="Massimiliano Mantione">
            <div class="speaker__picture" style="background-image: url('images/speakers/massimiliano_mantione.png')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Massimiliano Mantione</div>
              <div class="speaker__company">Hyperfair</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/dustinwhittle" title="Dustin Whittle">
            <div class="speaker__picture" style="background-image: url('images/speakers/dustin_whittle.png')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Dustin Whittle</div>
              <div class="speaker__company">Uber</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/hotifatos" title="Fatos Hoti">
            <div class="speaker__picture" style="background-image: url('images/speakers/fatos_hoti.png')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Fatos Hoti</div>
              <div class="speaker__company">Klara</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/_paulverbeek" title="Paul Verbeek-Mast">
            <div class="speaker__picture" style="background-image: url('images/speakers/paul_verbeek.png')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Paul Verbeek-Mast</div>
              <div class="speaker__company">Booking.com</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/balsamiqMarco" title="Marco Botton">
            <div class="speaker__picture" style="background-image: url('images/speakers/marco_botton.jpeg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Marco Botton</div>
              <div class="speaker__company">Balsamiq</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/sm15455" title="Stefano Mostarda">
            <div class="speaker__picture" style="background-image: url('images/speakers/stefano_mostarda.png')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Stefano Mostarda</div>
              <div class="speaker__company">Microsoft</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/tessamero" title="Tessa Mero">
            <div class="speaker__picture" style="background-image: url('images/speakers/tessa_mero.jpeg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Tessa Mero</div>
              <div class="speaker__company">Cisco</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/michelebertoli" title="Michele Bertoli">
            <div class="speaker__picture" style="background-image: url('images/speakers/michele_bertoli.jpeg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Michele Bertoli</div>
              <div class="speaker__company">Facebook</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/loige" title="Luciano Mammino">
            <div class="speaker__picture" style="background-image: url('images/speakers/luciano_mammino.jpeg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Luciano Mammino</div>
              <div class="speaker__company">Planet9 Energy</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/philnash" title="Phil Nash">
            <div class="speaker__picture" style="background-image: url('images/speakers/phil_nash.jpeg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Phil Nash</div>
              <div class="speaker__company">Twilio</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/_odino_" title="Alessandro Nadalin">
            <div class="speaker__picture" style="background-image: url('images/speakers/alessandro_nadalin.jpeg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Alessandro Nadalin</div>
              <div class="speaker__company">Namshi</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/NikhilVerma" title="Nikhil Verma">
            <div class="speaker__picture" style="background-image: url('images/speakers/nikhil_verma.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Nikhil Verma</div>
              <div class="speaker__company">Badoo</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/jjordan_dev" title="Jessica Jordan">
            <div class="speaker__picture" style="background-image: url('images/speakers/jessica.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Jessica Jordan</div>
              <div class="speaker__company">Freelance</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/cef62" title="Matteo Ronchi">
            <div class="speaker__picture" style="background-image: url('images/speakers/ronchi.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Matteo Ronchi</div>
              <div class="speaker__company">WorkWave</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/addaleax" title="Anna Henningsen">
            <div class="speaker__picture" style="background-image: url('images/speakers/anna.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Anna Henningsen</div>
              <div class="speaker__company">Node.js contributor</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/_lrlna" title="Irina Shestak">
            <div class="speaker__picture" style="background-image: url('images/speakers/irina.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Irina Shestak</div>
              <div class="speaker__company">Small Media</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/matteocollina" title="Matteo Collina">
            <div class="speaker__picture" style="background-image: url('images/speakers/matteo.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Matteo Collina</div>
              <div class="speaker__company">nearForm</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/mybluewristband" title="Jennifer Wong">
            <div class="speaker__picture" style="background-image: url('images/speakers/jenn.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Jennifer Wong</div>
              <div class="speaker__company">Eventbrite</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/blakenewman" title="Blake Newman">
            <div class="speaker__picture" style="background-image: url('images/speakers/blake.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Blake Newman</div>
              <div class="speaker__company">Sainsbury's</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/patrick_h_lauke" title="Patrick Lauke">
            <div class="speaker__picture" style="background-image: url('images/speakers/patrick.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Patrick Lauke</div>
              <div class="speaker__company">The Paciello Group</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/sandropaganotti" title="Sandro Paganotti">
            <div class="speaker__picture" style="background-image: url('images/speakers/sandro.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Sandro Paganotti</div>
              <div class="speaker__company">Facebook</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/jjperezaguinaga" title="Jose Aguinaga">
            <div class="speaker__picture" style="background-image: url('images/speakers/jose.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Jose Aguinaga</div>
              <div class="speaker__company">Flynt</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/koste4" title="Claudia Hernández">
            <div class="speaker__picture" style="background-image: url('images/speakers/claudia.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Claudia Hernández</div>
              <div class="speaker__company">Dailymotion</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/granze" title="Maurizio Mangione">
            <div class="speaker__picture" style="background-image: url('images/speakers/maurizio.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Maurizio Mangione</div>
              <div class="speaker__company">Accenture</div>
            </div>
          </a>
        </div>
        <div class="speaker">
          <a class="speaker__card" href="https://twitter.com/Lady_Ada_King" title="Ada Rose">
            <div class="speaker__picture" style="background-image: url('images/speakers/ada.jpg')"></div>
            <div class="speaker__info">
              <div class="speaker__name">Ada Rose</div>
              <div class="speaker__company">Samsung</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}
