
<div class="sponsors">
    <div class="container">
        <h1 class="section-title">Sponsored by</h1>
        <div class="sponsors__list">
            {% comment %}
            <div class="sponsor sponsor--main">
              <a class="sponsor__card" href="https://www.accenture.com/it-it/new-applied-now" title="Accenture">
                <span class="sponsor__package">Main</span>
                <img class="sponsor__logo" src="images/sponsors/accenture.svg" alt="Accenture" />
              </a>
            </div>
            <div class="sponsor sponsor--diamond">
              <a class="sponsor__card" href="https://www.microsoft.it/" title="Microsoft">
                <span class="sponsor__package">Diamond</span>
                <img class="sponsor__logo" src="images/sponsors/microsoft.svg" alt="Microsoft" />
              </a>
            </div>
            <div class="sponsor sponsor--platinum">
              <a class="sponsor__card" href="http://tech.trivago.com/" title="Trivago">
                <span class="sponsor__package">Platinum</span>
                <img class="sponsor__logo" src="images/sponsors/trivago.svg" alt="Trivago" />
              </a>
            </div>
            <div class="sponsor sponsor--platinum">
              <a class="sponsor__card" href="http://www.trueblue.it/" title="TrueBlue">
                <span class="sponsor__package">Platinum</span>
                <img class="sponsor__logo" src="images/sponsors/trueblue.svg" alt="TrueBlue" />
              </a>
            </div>
            {% endcomment %}
            <div class="sponsor sponsor--platinum">
                <a class="sponsor__card" href="http://careers.workwave.com/" title="Workwave">
                    <span class="sponsor__package">Platinum</span>
                    <img class="sponsor__logo" src="images/sponsors/workwave.svg" alt="Workwave" />
                </a>
            </div>
            <div class="sponsor sponsor--platinum">
                <a class="sponsor__card" href="https://www.ideato.it/" title="Ideato">
                    <span class="sponsor__package">Platinum</span>
                    <img class="sponsor__logo" src="images/sponsors/ideato.svg" alt="Ideato" />
                </a>
            </div>
            {% comment %}
            <div class="sponsor sponsor--platinum">
              <a class="sponsor__card" href="https://open.tim.it/" title="TIM Open">
                <span class="sponsor__package">Party</span>
                <img class="sponsor__logo" src="images/sponsors/tim.svg" alt="TIM Open" />
              </a>
            </div>
            <div class="sponsor sponsor--gold">
              <a class="sponsor__card" href="https://developer.cisco.com/" title="Cisco">
                <span class="sponsor__package">Gold</span>
                <img class="sponsor__logo" src="images/sponsors/cisco.svg" alt="Cisco" />
              </a>
            </div>
            <div class="sponsor sponsor--gold">
              <a class="sponsor__card" href="https://developer.uber.com/" title="Uber">
                <span class="sponsor__package">Gold</span>
                <img class="sponsor__logo" src="images/sponsors/uber.svg" alt="Uber" />
              </a>
            </div>
            <div class="sponsor sponsor--gold">
              <a class="sponsor__card" href="https://balsamiq.com/company/jobs/apply/2devs.html" title="Balsamiq">
                <span class="sponsor__package">Gold</span>
                <img class="sponsor__logo" src="images/sponsors/balsamiq-logo-hiring.svg" alt="Balsamiq" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="http://and.digital" title="AND Digital">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/ANDDigital.svg" alt="AND Digital" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="http://www.criticalcase.com/?utm_source=jsday" title="CriticalCase">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/criticalcase.svg" alt="CriticalCase" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="https://madisoft.it/" title="Madisoft">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/madisoft.svg" alt="Madisoft" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="https://www.eventbrite.com/careers/" title="Eventbrite">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/eventbrite.svg" alt="Eventbrite" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="https://www.twilio.com/company/jobs" title="Twilio">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/twilio.svg" alt="Twilio" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="https://www.neen.it/" title="Neen">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/neen.svg" alt="Neen" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="http://developer.samsung.com/internet" title="Samsung">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/samsung.svg" alt="Samsung" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="https://www.opentable.com/about/ " title="OpenTable">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/opentable.svg" alt="Opentable" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="https://team.badoo.com" title="Badoo">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/badoo.svg" alt="Badoo" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="https://www.siteground.it/" title="Siteground">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/siteground.svg" alt="Siteground" />
              </a>
            </div>
            <div class="sponsor sponsor--silver">
              <a class="sponsor__card" href="http://www.nearform.com/" title="nearForm">
                <span class="sponsor__package">Silver</span>
                <img class="sponsor__logo" src="images/sponsors/nearform.svg" alt="nearForm" />
              </a>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
